@import "tailwindcss";

.perspective-1000 {
  perspective: 1000px;
}

.pattern-stripes {
  background-image: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 20px
  );
}

.pattern-stripes-horizontal {
  background-image: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.1) 20px
  );
}
